@media (max-width: 1000px){
    main .contents div{
        margin: auto;
    }
    main .contents img{
        display: none;
    }
    h1 {
        margin-left: 50px;
        margin-top: 120px;
    }

    p{
        display: none;
    }
    
    form{
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        text-align: center;
        flex-direction: column;
    }
    input {
        margin:12px;
    }

    label[for="saveuser"], #saveuser{
        display:none;
    }

    button{
        margin-top: 25px;
        margin-right: 15%;
    }

    .register{
        display: block;
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .footer01 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .icons {
        padding: 20px;
    }
}

@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: fixed;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 62vh;
      background: #6200ff;
      border-radius: 0 0 0 10px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 100;
    }
    
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
    .nav-list li .contato{
      visibility: hidden;
    }

  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
