@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Poppins&family=Source+Sans+Pro:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}
/*NavBar*/

header {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#header img{
    height: 65px;
    margin-left: 50px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


ul li{
    list-style: none;
    display: inline-block;
   margin-right: 30px;
}

ul li:hover{
    opacity: 0.8;
    transition: 0.7s;
}

#header img:hover{
    height: 75%;
    transition: 0.7s;

}



/*main*/

.contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: auto;
}

.contents img{
    height: 700px;
    margin-left: 50px;
    margin-top: 15%;
}

.contentslogin{
    margin-top: 20%;

}

.contents h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 50px;
}

.contents p{
    font-size: 1.3em;
    text-align: justify;
}
.contents .letsgo{
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}

form input {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid  blue;
}

form #saveuser{
    width: 50px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
label[for="saveuser"]{
    font-size: 20px;
}

form button{
    background-color: blue;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    margin-left: 80px;
    margin-bottom: 30px;
    font-size: 20px;
    cursor: pointer;
}

/*cards*/

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}

.card{
    width: 270px;
    height: 400px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    transition: all 0.3s ease 0s;
    border-radius: 15px;
}

.card:hover{
    transform: translateY(-7px);

}

.cardimg{
    height: 200px;
    margin: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-1{
    background-image: url(../cardimg/academy.png);
}

.card-2{
    background-image: url(../cardimg/camisa.png);
}

.card-3{
    background-image: url(../cardimg/perifericos.png);
}

.card-4{
    background-image: url(../cardimg/profi.jpg);
}

.card-5{
    background-image: url(../cardimg/sobrenos.png);
}

.card-6{
    background-image: url(../cardimg/ultjogos.jpg);
}

.card h2{
    text-align: center;
    margin-top: 50px;
}

.card p{
    text-align: center;
    margin: 15px;
}

/*Footer*/

footer{
    max-width: 1980px;
    margin: 0 ;
    padding: 20px;
    background-color: blue;

}

.logo-footer p{
    color: white;
}

.footer01{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.logo-footer img{
    max-width: 100%;
    width: 180px;
}

.icons{
    display: flex;
    gap: 20px;
    color: white;
}

.footer2{
    text-align: center;
    background-color: rgb(82, 82, 201);
    padding: 5px 0;
    font-weight: bold;
    color: white;
}